.jumbotron{
  margin-top: 70px;
}
h1,h2{
  text-align: center;
}
.photo{
  background-color: white;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.photo img{
  width: 1010px;
}
.photo p{
  text-align: center;
  font-size: 14px;
  margin: 10px auto;
}
h3{
  margin-top: 40px;
  margin-left: 190px;
}
.timeline{
  width: 646px;
  margin-top: 10px;
  margin-left: 190px;
}
.footer{
  width: 670px;
  margin-left: 190px;
}
.footer p{
  font-size: 25px;
}