.jumbotron{
  margin-top: 70px;
}
h1,h2{
  text-align: center;
}
.photo{
  background-color: white;
  border: 1px solid #DCDCDC;
  border-radius: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.photo img{
  display: inline-block;
  width: 100%;
  height: auto;
}
.photo p{
  text-align: center;
  font-size: 14px;
  margin: 10px auto;
}
h3{
  width: 640px;
  margin: 40px auto 0;
}
.timeline{
  width: 646px;
  margin: 10px auto 0;
}
.footer{
  width: 662px;
  margin: 0 auto 0;
}
.footer p{
  font-size: 25px;
}